body{
  background-color: darkgray;
}

.appImage{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
}

.App{
  position: relative;
 
}

.button {
  margin-top: 10px;
  display: block;
  width: fit-content;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}